<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">

      <!-- Form Title -->
      <h2 *ngIf="adding">
        {{ adding ? 'Add New Department' : 'Edit Department' }}
      </h2>

      <form [formGroup]="deptForm">

        <!-- ID -->
        <div *ngIf="!adding" class="form-group">
          <label>ID</label>
          <input type="number" class="form-control" readonly formControlName="id">
        </div>

        <!-- Name -->
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" [class.is-invalid]="name.invalid && (name.dirty || name.touched)"
            placeholder="Enter first name" formControlName="name">
          <small *ngIf="name.invalid && (name.dirty || name.touched)" class="form-text text-danger">
            <span *ngIf="name.errors['required']">This field is required</span>
          </small>
        </div>

        <!-- Submit -->
        <button [disabled]="!deptForm.valid" (click)="onSubmit()" type="submit" class="btn btn-primary float-right">
          {{ adding ? 'Add' : 'Save' }}
        </button>

      </form>

    </div>
  </div>
</div>
