<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form [formGroup]="authForm">
                  <h1>Login</h1>
                  <p class="text-muted">Sign In to your account</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Email" autocomplete="email" formControlName="email" required >
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Password" autocomplete="current-password" formControlName="password" required>
                  </div>
                  <div class="row">
                    <ul class="text-danger">
                      <li *ngIf="email.dirty && email.invalid && email.errors['email']">Please enter a valid email</li>
                      <li *ngIf="email.dirty && email.invalid && email.errors['required']">Email is required</li>
                      <li *ngIf="password.dirty && password.invalid && password.errors['required']">Password is required</li>
                      <li *ngIf="error">Wrong email or password</li>
                    </ul>
                  </div>
                  <div class="row">
                    <div class="col">
                      <button [disabled]="authForm.invalid || loading" (click)="onLogin()" type="button" class="btn btn-primary px-4">Login</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
