<app-rich-header></app-rich-header>

<div class="app-body">

  <app-ems-sidebar></app-ems-sidebar>

  <!-- Main content -->
  <main class="main">

    <app-ems-breadcrumb></app-ems-breadcrumb>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>

  </main>

</div>

<app-ems-footer></app-ems-footer>
