<button [routerLink]="['add']" class="btn btn-success mb-2">
  <i class="fa fa-plus"></i> Add
</button>

<div class="animated fadeIn">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="queryForm">
        <table class="table table-bordered table-hover table-light" infiniteScroll (scrolled)="search(true)"
          [infiniteScrollDisabled]="endOfResults">

          <thead class="thead-light">

            <tr>
              <th scope="col">ID</th>
              <th scope="col">Department</th>
            </tr>

          </thead>


          <tbody>
            <tr *ngFor="let dept of departments" [routerLink]="[dept.id]">
              <th scope="row">{{ dept.id }}</th>
              <td>{{ dept.name }}</td>
            </tr>
          </tbody>

        </table>
      </form>
    </div>
    <!--/.col-->
  </div>
</div>
