<div class="animated fadeIn md-shrink">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="queryForm">

        <div class="float-left mb-2">
          <button type="button" [routerLink]="['add']" class="btn btn-success">
            <i class="fa fa-plus"></i> Add
          </button>
        </div>

        <div class="float-right mb-2">
          <button (click)="search()" type="submit" class="btn btn-primary">
            <i class="fa fa-filter"></i>
            Filter
          </button>
          <button (click)="onClearFilter()" type="button" class="btn btn-success ml-2">
            <i class="fa fa-close"></i>
            Clear
          </button>
        </div>

        <table class="table table-bordered table-hover table-light" infiniteScroll (scrolled)="search(true)"
          [infiniteScrollDisabled]="endOfResults">

          <thead class="thead-light">

            <tr>
              <th scope="col">ID</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Department</th>
            </tr>

            <tr class="table-filter-row">
              <th>
              </th>
              <th colspan="2">
                <input type="text" class="form-control" placeholder="Employee Name" formControlName="name">
              </th>
              <th>
                <select id="inputState" class="form-control" formControlName="department_id" placeholder="test">
                  <option selected value="">Choose...</option>
                  <option *ngFor="let dept of (departments|async)" [value]="dept.id">
                    {{ dept.name }}
                  </option>
                </select>
              </th>
            </tr>

          </thead>


          <tbody>
            <tr *ngFor="let emp of employees" [routerLink]="[emp.id]">
              <th scope="row">{{ emp.id }}</th>
              <td>{{ emp.first_name }}</td>
              <td>{{ emp.last_name }}</td>
              <td>
                <a [routerLink]="['/departments', emp.department_id]">
                  {{ departmentsMap[emp.department_id].name }}
                </a>
              </td>
            </tr>
          </tbody>

        </table>
      </form>
    </div>
    <!--/.col-->
  </div>
</div>
