<div class="animated fadeIn">
  <div class="row justify-content-center">

    <div class="col col-md-6">

      <div class="card">

          <div class="card-header">
            Departments
          </div>

          <div class="card-body">

            <div *ngIf="departments" class="chart-wrapper">
              <canvas baseChart class="chart"
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [chartType]="pieChartType"
                [options]="{ tooltips: { enabled: true } }"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
              </canvas>
            </div>

          </div>
        </div>
    </div>


  </div><!--/.row-->
</div>
