<div class="row justify-content-center text-center">
  <div class="col-md-8">
    <div class="card">

      <div class="card-header">
        <h2>Employee Details</h2>
      </div>

      <div class="card-body">
        <div *ngIf="employee">

          <div class="row">

            <span class="col-md-4 text-left text-md-right font-weight-bold">ID:</span>
            <span class="col-md-8 text-center text-md-left">{{ employee.id }}</span>
          </div>

          <div class="row">

            <span class="col-md-4 text-left text-md-right font-weight-bold">First Name:</span>
            <span class="col-md-8 text-center text-md-left">
              {{ employee.first_name }}
            </span>
          </div>

          <div class="row">

            <span class="col-md-4 text-left text-md-right font-weight-bold">Last Name:</span>
            <span class="col-md-8 text-center text-md-left">
              {{ employee.last_name }}
            </span>
          </div>

          <div class="row">

            <span class="col-md-4 text-left text-md-right font-weight-bold">Email:</span>
            <span class="col-md-8 text-center text-md-left">{{ employee.email }}</span>
          </div>

          <div class="row">

            <span class="col-md-4 text-left text-md-right font-weight-bold">Department:</span>
            <span class="col-md-8 text-center text-md-left"><a [routerLink]="['/departments', employee.department.id]">
                {{ employee.department.name }}</a></span>
          </div>

        </div>
      </div>

      <div class="card-footer">

        <div class="float-right">
          <button [disabled]="!canEdit || deleting || loading" [routerLink]="['edit']" class="btn btn-warning mr-2">
            <i class="cui-pencil"></i> Edit
          </button>
          <button (click)="onDelete()" [disabled]="!canDelete || deleting || loading" class="btn btn-danger">
            <i class="cui-trash"></i> Delete
          </button>
        </div>
      </div>

    </div>


  </div>
</div>
