<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">

      <!-- Form Title -->
      <h2 *ngIf="adding">
        {{ adding ? 'Add New Employee' : 'Edit Employee' }}
      </h2>

      <form [formGroup]="empForm">

        <!-- ID -->
        <div *ngIf="!adding" class="form-group">
          <label>ID</label>
          <input type="number" class="form-control" readonly formControlName="id">
        </div>

        <!-- Email -->
        <div class="form-group">
          <label>Email</label>
          <input type="email" class="form-control" [class.is-invalid]="email.invalid && (email.dirty || email.touched)"
            placeholder="Enter email" formControlName="email">
          <small *ngIf="email.invalid && (email.dirty || email.touched)" class="form-text text-danger">
            <span *ngIf="email.errors['required']">This field is required</span>
            <span *ngIf="email.errors['email']">Please enter a valid email</span>
          </small>
        </div>

        <!-- First Name -->
        <div class="form-group">
          <label>First Name</label>
          <input type="text" class="form-control" [class.is-invalid]="first_name.invalid && (first_name.dirty || first_name.touched)"
            placeholder="Enter first name" formControlName="first_name">
          <small *ngIf="first_name.invalid && (first_name.dirty || first_name.touched)" class="form-text text-danger">
            <span *ngIf="first_name.errors['required']">This field is required</span>
          </small>
        </div>

        <!-- Last Name -->
        <div class="form-group">
          <label>Last Name</label>
          <input type="text" class="form-control" [class.is-invalid]="last_name.invalid && (last_name.dirty || last_name.touched)"
            placeholder="Enter last name" formControlName="last_name">
          <small *ngIf="last_name.invalid && (last_name.dirty || last_name.touched)" class="form-text text-danger">
            <span *ngIf="last_name.errors['required']">This field is required</span>
          </small>
        </div>

        <!-- Department -->
        <div class="form-group">
          <label>Department</label>
          <select class="form-control" [class.is-invalid]="department_id.invalid && (department_id.dirty || department_id.touched)"
            formControlName="department_id">
            <option selected value="">Department...</option>
            <option *ngFor="let dept of departments" [value]="dept.id">
              {{ dept.name }}
            </option>
          </select>
          <small *ngIf="department_id.invalid && (department_id.dirty || department_id.touched)" class="form-text text-danger">
            <span *ngIf="department_id.errors['required']">This field is required</span>
          </small>
        </div>

        <!-- Submit -->
        <button [disabled]="!empForm.valid" (click)="onSubmit()" type="submit" class="btn btn-primary float-right">
          {{ adding ? 'Add' : 'Save' }}
        </button>

      </form>

    </div>
  </div>
</div>
