<app-header
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/logo.svg', width: 89, height: 25, alt: 'CoreUI Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/sygnet.svg', width: 30, height: 30, alt: 'CoreUI Logo'}"
  [sidebarToggler]="'lg'"
  [mobileAsideMenuToggler]="false"
  [asideMenuToggler]="false" >

  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-3">
      <a class="nav-link" [routerLink]="['/']">Dashboard</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" [routerLink]="['/departments']">Departments</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" [routerLink]="['/employees']">Employees</a>
    </li>
  </ul>

  <ul class="nav navbar-nav ml-auto mr-2">
    <li class="nav-item">
      <button class="btn-link nav-link" (click)="onLogout()" href="#">Logout</button>
    </li>
  </ul>
</app-header>