<div class="row justify-content-center text-center">
  <div class="col-md-8">
    <div class="card">

      <div class="card-header">
        <h2>Department Details</h2>
      </div>

      <div class="card-body">
        <div *ngIf="department">

          <div class="row">

            <span class="col-md-4 text-left text-md-right font-weight-bold">ID:</span>
            <span class="col-md-8 text-center text-md-left">{{ department.id }}</span>
          </div>

          <div class="row">

            <span class="col-md-4 text-left text-md-right font-weight-bold">First Name:</span>
            <span class="col-md-8 text-center text-md-left">
              {{ department.name }}
            </span>
          </div>

          <div class="row">

            <span class="col-md-4 text-left text-md-right font-weight-bold">Employees:</span>
            <span class="col-md-8 text-center text-md-left">
              {{ department.users_count }}
            </span>
          </div>

        </div>
      </div>

      <div class="card-footer">

        <div class="float-right">
          <button [routerLink]="['edit']" [disabled]="!canEdit || loading " class="btn btn-warning mr-2">
            <i class="cui-pencil"></i> Edit
          </button>
          <button (click)="onDelete()" [disabled]="!canDelete || loading || deleting || department.users_count > 0" class="btn btn-danger">
            <i class="cui-trash"></i> Delete
          </button>
        </div>
      </div>

    </div>


  </div>
</div>
